{
  "repositoryUrl": "https://github.com/jamet-julien/timer-engine.git",
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/npm"
  ]
}