body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    background: radial-gradient(
        circle,
        rgba(51, 65, 77, 1) 0%,
        rgba(16, 25, 38, 1) 100%
    );
    font-family: "Courier New", Courier, arial;
    color: #e4e4e4;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name {
    font-size: 35px;
    font-family: sans-serif;
    letter-spacing: 4px;
    color: rgb(123, 123, 123);
}

code {
    background: #252424;
    padding: 2px 7px;
}

.description,
.install {
    padding: 20px;
    text-align: center;
    margin: 0;
}

.popup {
    width: 320px;
    height: 240px;
    padding: 10px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.link {
}
